@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");

.app {
  background-color: #121520;
  color: #bdbfcb;
}

.index {
  background-color: #121520;
  color: #bdbfcb;
}
