---
// javascript kod ovdje
---

<header class="bg-#BDBFCB text-[#060914] text-2xl min-h-screen">
  <div class="border-rd 2xl font-mono animate-slide-in-right">
    <h1>Ultimate Package Manager</h1>
    <br />

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam quidem,
      fugit labore reiciendis vel quia rem, quos debitis nemo tempore earum? Eum
      id veniam quod eaque illo itaque laudantium eveniet!
    </p>

    <input type="text" placeholder="Potraži aplikacije" />
  </div>
</header>
<footer></footer>
