@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");

.app {
  font-family: "Geist Mono";
  display: block;
  margin: 10px 0;
  padding: 10px;
  background-color: #0f1015;
  color: #bdbfcb;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.app:hover {
  background-color: #3a3f52;
}
